Flask==0.10.1
Flask-SQLAlchemy==2.1
gunicorn==19.7.1
psycopg2==2.7.4
flask-restplus
flask-cors==3.0.3
six==1.11.0
pyyaml==3.12
requests==2.18.4
google-auth==1.4.1
google-auth-oauthlib==0.2.0
flask-marshmallow
marshmallow-sqlalchemy
bs4
lxml